<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;环境需要</h3>
        <ul>
            <li>java8</li>
            <li>mysql</li>
            <li>elastic:9300,9301</li>
            <li>rabbitmq :virtual-host=dev</li>
            <li>redis</li>
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;技术实现</h3>
        <ul>
            <li>实现mysql数据到es的同步存储</li>
            <li>Mysql表结构同步Elastic映射-监听器实现</li>
            <li>数据同步更新删除-消息队列</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;获取帮助</h3>
        <ul>
            <li>Git地址：<a href="https://gitee.com/renrenio/renren-security" target="_blank">https://gitee.com/renrenio/renren-security</a></li>

        </ul>


    </div>
</div>
</body>
</html>