<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Elastic Person搜索</title>
    <link href="/js/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/js/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/js/plugins.page/pageination.css" rel="stylesheet"/>

</head>

<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="/swagger-ui.html">API文档</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    Elastic Person
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>
                    Elastic
                    <small>Person</small>
                </h1>
            </div>
            <div class="form-group has-success has-feedback">
                <div class="input-group">
                    <span class="input-group-addon">关键字搜索</span>
                    <input type="text" class="form-control" style="width: 50%" name="kw"
                           aria-describedby="inputGroupSuccess4Status"/>
                    <button type="button" class="btn btn-default search">搜索</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <button type="button" class="btn btn-success">新增</button>
                    <button type="button" class="btn btn-warning">修改</button>
                    <button type="button" class="btn btn-danger">删除</button>
                </div>
            </div>
            <table class="table" id="personTable">
                <thead>
                <tr>
                    <th><input type="checkbox" v-model='checked' v-on:click="checkAll()"/></th>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>地址</th>
                    <th>更新时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(person, index) in personList">
                    <td><input type="checkbox" v-model='checkboxModel' v-on:click="checkOn(person.id)"
                               :value="person.id"/></td>
                    <td>{{person.name}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.address}}</td>
                    <td>{{person.updateTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="page">
    <pageination :total="model.total" :size="model.size" :page="model.page" :changge="pageFn"></pageination>
</div>
</body>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/plugins.page/pageination.js"></script>
<script>
    $(function () {
        var personTable = new Vue({
            el: '#personTable',
            data: {
                checkboxModel: [],
                checked: false,
                personList: []
            },
            methods: {
                checkOn: function (val) {
                    console.log(val)
                },
                checkAll: function () {
                    var _this = this;
                    console.log(_this.checkboxModel);
                    if (this.checked) {//实现反选
                        _this.checkboxModel = [];
                    } else {//实现全选
                        _this.checkboxModel = [];
                        _this.personList.forEach(function (item) {
                            _this.checkboxModel.push(item.id);
                        });
                    }
                }
            }, watch: {//深度 watcher
                'checkboxModel': {
                    handler: function (val, oldVal) {
                        if (this.checkboxModel.length === this.personList.length) {
                            this.checked = true;
                        } else {
                            this.checked = false;
                        }
                    },
                    deep: true
                }
            },
        });
        var pager = new Vue({
            el: '#page',
            data: {
                model: {
                    'total': 0,//总页数
                    'size': 3,//每页显示条目个数不传默认10
                    'page': 1,//当前页码
                }
            },
            methods: {
                //页码切换执行方法
                pageFn(val) {
                    this.model.page = val;
                    var param = {'page': val, "pageSize": 3};
                    param['kw'] = $("input[name='kw']").val();
                    getList(param);
                }
            }
        });

        function getParam() {
            var param = {};
            param['page'] = 1;
            param['pageSize'] = 3;
            param['kw'] = $("input[name='kw']").val();
            return param;
        };

        function getList(param) {
            if (!param) {
                param = getParam();
            }
            $.post("/elasticPerson/searchBykw", param, function (res) {
                if (res.code == 200) {
                    var data = res.data;
                    personTable.personList = data.items;
                    pager.model = {'total': data.totalNum, 'size': data.pageSize, 'page': data.currentPage}
                }
            });
        };
        $(".search").on("click", function () {
            var param = {};
            param['page'] = 1;
            param['pageSize'] = 3;
            param['kw'] = $("input[name='kw']").val();
            getList(param);
        });
        getList({'page': 1, "pageSize": 3});
    })
</script>
</html>